{% extends "reservations/reservation/reservation.html" %}

{% load i18n %}

{% block step_title %}{% trans "New reservation - summary" %}{% endblock %}

{% block reservation_content %}

{% blocktrans %}
<p>Your reservation is <strong>almost finished</strong>! Please confirm below 
the details again.</p>
{% endblocktrans %}

<form action="." method="post">
    <table class="reservation-summary">
        <tbody>
            <tr><th>{% trans "Selected car" %}:</th><td>{{ car }}</td></tr>
            <tr><th>{% trans "Reservation time" %}:</th><td>{{ reserved_from|date:"DATETIME_FORMAT" }} - {{ reserved_until|date:"DATETIME_FORMAT" }}</td></tr>
            <tr><th>{% trans "Approximate distance per hour" %}:</th><td>{{ approximate_distance_per_hour }} km</td></tr>
            <tr><th>{% trans "Price estimation for distance" %}:</th><td>{{ price_estimation_for_distance|floatformat:"-2" }} Kč</td></tr>
            <tr><th>{% trans "Reservation price" %}:</th><td>{{ base_price|floatformat:"-2" }} Kč</td></tr>
            <tr><th>{% trans "Price loan estimation" %}:</th><td><strong>{{ total_price_estimation|floatformat:"-2" }} Kč</strong></td></tr>
        </tbody>
    </table>
	{% csrf_token %}
	{{ form }}
	<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
	{{ previous_fields|safe }}
	<p class="submit-row">
		<span class="button button-green">
			<span><button class="green" type="submit">{% trans "Finish reservation" %}</button></span>
		</span>
		<span class="button button-grey">
			<span><a href="{% url mfe_users_account %}" >{% trans "Cancel" %}</a></span>
		</span>
	</p>
</form>

{% endblock %}
