{% extends "reservations/reservation/reservation.html" %}

{% load i18n %}

{% block extra_js %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/reservation-form.js"></script>
{% endblock %}

{% block step_title %}{% trans "New reservation - summary" %}{% endblock %}

{% block reservation_content %}

{% blocktrans %}
<p>Your reservation is <strong>almost finished</strong>! Please confirm below 
the details again.</p>
{% endblocktrans %}

<form action="." method="post">
    <h3 class="reservation-summary">Informace</h3>
    <table class="reservation-summary">
        <tbody>
            <tr><th>{% trans "Selected car" %}:</th><td>{{ car }}</td></tr>
            <tr><th>{% trans "Reservation time" %}:</th><td>{{ reserved_from|date:"DATETIME_FORMAT" }} - {{ reserved_until|date:"DATETIME_FORMAT" }}</td></tr>
            <tr><th>{% trans "Planned distance" %}:</th><td><input type="text" class="reservation-distance" id="reservation-distance" value="{{ default_reservation_distance }}" /> km</td></tr>
        </tbody>
    </table>
    <h3 class="reservation-summary">Cena</h3>
    <table class="reservation-summary">
        <tbody>
            <tr class="price-by-distance"><th>{% trans "Price for traveled distance" %}:</th><td>{{ price_by_distance }} Kč</td></tr>
            <tr><th>{% trans "Pickup fee" %}:</th><td>{{ pickup_fee }} Kč</td></tr>
            <tr><th>{% trans "Reservation price" %}:</th><td>{{ base_price }} Kč</td></tr>
            <tr class="total-price"><th>{% trans "Price loan estimation" %}:</th><td><strong>{{ total_price_estimation }} Kč</strong></td></tr>
            <tr class="warning-msg"><th></th><td></td></tr>
        </tbody>
    </table>
	{% csrf_token %}
	{{ form }}
	<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
	{{ previous_fields|safe }}
	<p class="submit-row" style="margin-top: 35px;">
		<span class="button button-green">
			<span><button class="green" type="submit">{% trans "Finish reservation" %}</button></span>
		</span>
		<span class="button button-grey">
			<span><a href="{% url mfe_users_account %}" >{% trans "Cancel" %}</a></span>
		</span>
	</p>
</form>

{% endblock %}
