{% extends "reservations/reservation/reservation.html" %}

{% load i18n %}

{% block step_title %}{% trans "New reservation - summary" %}{% endblock %}

{% block reservation_content %}

{% blocktrans %}
<p>Your reservation is <strong>almost finished</strong>! Please confirm below 
the details again.</p>
{% endblocktrans %}

<form action="." method="post">
	<p><strong>{% trans "Selected car" %}:</strong> {{ car }}</p>
	<p><strong>{% trans "Reservation time" %}:</strong> {{ reserved_from|date:"DATETIME_FORMAT" }} - {{ reserved_until|date:"DATETIME_FORMAT" }}</p>
	<p><strong>{% trans "Price estimation" %}:</strong> {{ price_estimation|floatformat:"-2" }} Kč</p>
	{% csrf_token %}
	{{ form }}
	<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
	{{ previous_fields|safe }}
	<p class="submit-row">
		<span class="button button-green">
			<span><button class="green" type="submit">{% trans "Finish reservation" %}</button></span>
		</span>
		<span class="button button-grey">
			<span><a href="{% url mfe_users_account %}" >{% trans "Cancel" %}</button></span>
		</span>
	</p>
</form>

{% endblock %}