{% extends "reservations/reservation/reservation.html" %}

{% load i18n %}

{% block step_title %}{% trans "Reservation sucessful" %}{% endblock %}

{% block reservation_content %}
{% blocktrans %}
<p>Your reservation has been <strong>successfully added</strong> to the 
system.</p>
<p>You can check the details anytime in your personal section
{% endblocktrans %} 
<a href="{% url 'mfe_reservations_pending_list' %}">{% trans "Pending reservations" %}</a>.</p>
{% blocktrans %}
<p>Thank you for your interest!</p>
{% endblocktrans %}
{% endblock %}