
.idea
.DS_Store

/docs/_build/*
requirements.installed
*.egg-info
settings_local.py
*.pyc

geotrack/dist

server/metrocar/log/*
server/metrocar/settings/local.py
server/dist/

client/bower_components/
client/dist/
client/node_modules/
client/tmp/