Django==1.4


# PostgreSQL database driver. TODO: make the project db-agnostic.
psycopg2==2.4.1


# required for django models ImageFields
PIL==1.1.7


# editable maps for forms
django-olwidget==0.47


# TODO: explain why is this needed
# found docs here: http://elsdoerfer.name/docs/django-tables/
django-tables==0.2


# TODO: explain why is this needed
sorl-thumbnail==11.09.1


# used for generic API, TODO: find out more info about that
django-piston==0.2.2


# used for generating PDF invoices
pisa==3.0.33
reportlab==2.5
html5lib==0.90


# Testing tools
nose==1.1.2
djangosanetesting==0.5.11


# used in car unit management, candidate for deletion
python-dateutil==2.1


# used in car unit management, candidate for deletion
lxml==2.2.8


# TODO: get rid of this, use the one from django
simplejson==2.3.3
