<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Comm request generator</title>

<style type="text/css">
	label { display: block; float: left; min-width: 250px; }
</style>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/json2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/OpenLayers-2.8/OpenLayers.js"></script>
<script type='text/javascript' src='http://openstreetmap.org/openlayers/OpenStreetMap.js'></script>
<script type="text/javascript" src="{{ STATIC_URL }}olwidget/js/olwidget.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.base64.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}olwidget/css/olwidget.css"/>

<script type="text/javascript">

	/**
	 * Returns base URL with appended uriRemainder to create full request
	 * url
	 **/
	$.makeUrl = function (uriRemainder) {
		return $('#url').val() + uriRemainder;
	}

	/**
	 * Creates new COMM request.
	 **/
	$.makeRequest = function () {
		usages = {}

		var since = $('#since').val();
		var till = $('#till').val();
		if (since) usages.since = since;
		if (till) usages.till = till;

		usages.user_id = $('#user-select').val();
		usages.base_position = {
			'latitude': $('#base-position-lat').val(),
			'longitude': $('#base-position-lon').val(),
		};
		usages.length = $('#length').val();

		/* seralize incremental positions */
		var pos = $('#positions input').serializeArray();
		var incPos = new Array();
		for (i = 0; i < pos.length - 1; i += 2) {
			incPos.push({
				'latitude': pos[i].value,
				'longitude': pos[i + 1].value
			});
		}
		usages.incremental_positions = incPos;

		data = {
			'auth' : {
				'imei': $('#car-select').val(),
				'authorization_key': $('#authorization-key').val()
			},
			'usages': [ usages ]
		};

		$('#request-content').val(JSON.stringify(data));
		return data;
	};

	$.loadCarPositions = function () {
		$.getJSON($.makeUrl('api/cars/positions/?callback=?'), function (data) {
			var olwidgetParams = new Array();
			var $descElem = $('#car-positions-desc');
			$('#car-positions-desc').html('');

			for (i = 0; i < data.length; i++) {
				var parArr = new Array();
				parArr[0] = "POINT(" + data[i].last_position.coordinates[0]
                            		 + " "
                            		 + data[i].last_position.coordinates[1]
                            		 + ")";
       		 	parArr[1] = data[i].full_name;
				olwidgetParams.push(parArr);
				$descElem.append(
					$('<p><strong>' + parArr[1] + '</strong>: ' + data[i].last_address + ' - ' + parArr[0] + '</p>')
				);
			}

			$('#car-positions').html('');
			new olwidget.InfoMap('car-positions', olwidgetParams, {
				'mapDivStyle': {'width': '100%', 'height': '350px'}
			});
		});
	};

	$(document).ready(function () {
		var request;
		var dataLoaded = false;

		$('#request-content').val('');
		$('#response-content').val('');

		$('#load-data').unbind('click').click(function () {
			/* load all users */
			$.getJSON($.makeUrl('api/users/?callback=?'), function (data) {
				for (i = 0; i < data.length; i++) {
					$('#user-select').append(
						$('<option value="' + data[i].id + '">'
								+ data[i].username + '</option>'));
				}
			});

			/* load all cars */
			$.getJSON($.makeUrl('api/cars/?callback=?'), function (data) {
				for (i = 0; i < data.length; i++) {
					$('#car-select').append(
						$('<option value="' + data[i].imei + '">'
								+ data[i].full_name + '</option>'));
				}
			});

			/* car positions */
			$.loadCarPositions();

			dataLoaded = true;
			return false;
		});

		/* add position button */
		$('#add-position').unbind('click').click(function () {
			var $lastNode = $('#positions .position:last').clone();
			$('#positions').append($lastNode);
			return false;
		});

		/* generate request button */
		$('#generate-request').unbind('click').click(function () {
			request = $.makeRequest();
			return false;
		});

		/* reset request button */
		$('#reset-request').click(function () { request = undefined; });

		/* send request button */
		$('#send-request').unbind('click').click(function () {
			if (request == undefined) {
				alert("Request has not been created!");
				return false;
			}

			$('#response-content').val('');
			$('#sending-text').show();

			$.ajax({
				'url': '/url/' + $.base64Encode($.makeUrl('comm/json/')),
				'cache': false,
				'data': JSON.stringify(request),
				'dataType': 'text',
				'success': function (response) {
					$('#response-content').val(response);
					$('#sending-text').hide();
					$.loadCarPositions();
				},
				'error': function (XMLHttpRequest, textStatus, errorThrown) {
					$('#response-content').val(XMLHttpRequest.responseText);
					$('#sending-text').hide();
				},
				'type': 'POST'
			});

			return false;
		});
	});

</script>

</head>
<body>

<h1>Comm request generator</h1>

<p>This generator allows you to test Metrocar comm interface. It simulates
work of a car comm unit by sending requests which you specify. It can be also
used for testing of Metrocar API, because all data shown here are downloaded
by Metrocar API REST interface.</p>

<p>This example does not use a database. As noted above, all data is downloaded
directly from Metrocar API. Whole interface is implemented in JavaScript.
The only aid for JavaScript implementation is simple HTTP proxy gate for
serving cross-domain POST requests. It reasides on /url/ prefix.</p>

<p>We are using JSON COMM adapter here, as it's easier to work with it in
JavaScript. Note that there is also custom HTML adapter available.</p>

<p><strong>Important</strong>: Please note that if you submit invalid Metrocar API URL, we have no
way to detect if URL is invalid because we are using JSONP cross-domain requests
here and due to the nature of this technique, it's impossible to recieve
HTTP status codes (for more info look
<a href="http://bob.pythonmac.org/archives/2005/12/05/remote-json-jsonp/">here</a>).
If nothing happens, try debugging with Firefox's Firebug if Network activity
is allright.</p>

<h2>Basic usage workflow</h2>
<ol>
	<li>
		First submit host URL. Then click button "Load remote data". The script
		tries to load user and car information from remote REST API.
	</li>
	<li>
		Next fill up information about request you are trying to do.
	</li>
	<li>
		Click Generate request button. This generates JSON string which will be
		used to query the comm interface.
	</li>
	<li>
		Click Send request button. Script will use the generated JSON string
		and performs a query to the comm interface. Result of the query will
		be shown below in textarea named Response.
	</li>
</ol>
<p>This is expected to work only if reservation is pre-made or when using
service card (which doesn't need a reservation by default). Reservation
creation is not part of this generator.</p>

<form>
	<fieldset style="float: right; width: 30%;">
		<legend>Car positions</legend>
		<div id="car-positions"></div>
		<div id="car-positions-desc"></div>
	</fieldset>
	<fieldset>
		<legend>Mandatory data</legend>
		<p>
			<label>Metrocar host URL (enter base URL with ending forward slash, e.g. http://metrocar.cz/):</label>
			<input type="text" size="50" id="url" name="url" value="http://admin.metrocar.dev.vlasta.fragaria.cz/" />
			<button id="load-data">Load remote data</button>
		</p>
		<hr />
		<p>
			<label>Car:</label>
			<select id="car-select"></select>
		</p>
		<p>
			<label>Car authorization key:</label>
			<input type="password" id="authorization-key" name="authorization-key" value="1234" />
		</p>
		<p>
			<label>User:</label>
			<select id="user-select"></select>
		</p>
		<p>
			<label>Journey start:</label>
			<input type="text" id="since" name="since" value="10-04-01 00:00" />
		</p>
		<p>
			<label>Journey end:</label>
			<input type="text" id="till" name="till" value="10-04-01 00:00" />
		</p>
		<p>
			<label>Journey length:</label>
			<input type="text" id="length" name="length" value="0.00" />
		</p>
		<hr />
		<p>
			<label>Base position:</label>
			<div class="position">
				Lat: <input type="text" id="base-position-lat" name="base-position-lat" value="14.70" />
				Lon: <input type="text" id="base-position-lon" name="base-position-lon" value="50.70" />
			</div>
		</p>
		<p>
			<label>Incremental positions:</label>
			<button id="add-position">+ Add position</button>
		</p>
		<div id="positions">
			<div class="position">
				Lat: <input type="text" name="inc-position-lat" value="0.00" />
				Lon: <input type="text" name="inc-position-lon" value="0.00" />
			</div>
		</div>
		<p>
			<button id="generate-request">Generate request</button>
			<input type="reset" value="Reset form" />
		</p>
	</fieldset>
	<fieldset>
		<legend>Raw data</legend>
		<h3>Request</h3>
		<textarea id="request-content" style="width: 100%; height: 100px;">
		</textarea>
		<button id="send-request">Send request</button>
		<input type="reset" id="reset-request" value="Reset request" />
		<span id="sending-text" style="display: none;"><strong>Sending request ...</strong></span>
		<h3>Response</h3>
		<textarea id="response-content" style="width: 100%; height: 100px;">
		</textarea>
		<input type="reset" value="Clear response" />
	</fieldset>
</form>

</body>
</html>
