{% extends "base.html" %}

{% block content %}

<div id="cols2-top"></div>
<div id="cols2" class="box">

    <!-- Blog -->
    <div id="col-left">
    	{% block left_col %}
    	
   			<div class="title">
                <h2>{% block left_col_title %}{% endblock %}</h2>
            </div>
            
            {% block left_col_content %}{% endblock %}
    	
    	{% endblock %}
    </div> <!-- /col-left -->

    <hr class="noscreen" />

    <!-- Testimonials -->
    <div id="col-right">
    	{% block right_col %}
    	{% endblock %}
    </div> <!-- /col-right -->

</div> <!-- /cols2 -->
<div id="cols2-bottom"></div>

<hr class="noscreen" />

{% endblock %}