{% extends 'base-one-col.html' %}
{% load i18n %}

{% block col_content %}
{% if search_query %}
<script src="http://www.google.com/jsapi" type="text/javascript"></script>

<script type="text/javascript">
    function onSearchComplete(sc, searcher) {
        if (searcher.results && searcher.results.length==0) {
            document.getElementById("search_no_results").innerHTML = '<p class="error">{% trans "Your search did not match any documents." %}</p>';
            return false;
        }
    }

    google.load('search', '1');
    google.setOnLoadCallback(function(){
        search_control = new google.search.CustomSearchControl('');

        var options = new google.search.DrawOptions();
        options.setSearchFormRoot(false);
          
        search_control.draw(document.getElementById("search_results"), options);
        search_control.setSearchCompleteCallback(this, onSearchComplete);
        search_control.execute('{{search_query}}');
    });
</script>
{% endif %}

<h2>{% trans 'Search results' %}</h2>
<div id="search_results">
    {% if search_query %}
    <p class="error">{% trans 'For the proper use of search functionality you have to enable javascript.' %}</p>
    {% else %}
    <p class="error">{% trans 'Enter valid string.' %}</p>
    {% endif %}
</div>
<div id="search_no_results"></div>
{% endblock %}
