{% extends "base-two-col.html" %}

{% load i18n %}

{% block right_col %}

{% if user.is_authenticated %}
<h4><span>{% trans "My account" %}</span></h4>
<ul class="ul-01">
    <li><a href="{% url mfe_users_account %}">{% trans "Account detail" %}</a></li>
    <li><a href="{% url mfe_users_account_activities %}">{% trans "Account activities" %}</a></li>
    <li><a href="{% url mfe_users_account_invoices_and_bills %}">{% trans "Invoices and bills" %}</a></li>
    <li><a href="{% url mfe_users_change_password %}">{% trans "Change password" %}</a></li>            
</ul>
<h4><span>{% trans "My activities" %}</span></h4>
<ul class="ul-01">
    <li><a href="{% url mfe_reservations_reservation %}">{% trans "New reservation" %}</a></li>
    <li><a href="{% url mfe_reservations_pending_list %}">{% trans "Pending reservations" %}</a></li>
    <li><a href="{% url mfe_reservations_finished_list %}">{% trans "Reservation history" %}</a></li>
    {% if not user.home_subsidiary.use_onboard_unit %}
        <li><a href="{% url mfe_reservations_non_finished_list %}">{% trans "Non finished reservations" %}</a></li>
    {% endif %}
    <li><a href="#TODO">{% trans "Statistics" %}</a></li>            
</ul>
{% endif %}

{% endblock %}