{% extends "base-one-col.html" %}

{% load i18n %}

{% block col_content %}
<h1>{% trans "Invalid credentials" %}</h1>

<p>
    {% trans 'You have submitted invalid credentials. Please try again.' %}
    <a href="{% url mfe_users_passwd_reset %}">{% trans 'Did you forgot your password' %}</a>?
</p>

<form class="sidebar-login-form" action="{% url mfe_users_login %}" method="post">
	<p>
		<label>{% trans "Username" %}</label>
		<input type="text" size="20" value="" name="username" />
	</p>
	<p>
		<label>{% trans "Password" %}</label>
		<input type="password" size="20" value="heslo" name="password" />
	</p>
	{% if next %}
	<input type="hidden" value="{{ next }}" name="next" />
	{% endif %}
	
	<p class="submit-row">
		<span class="button button-green">
			<span><button class="green" type="submit">{% trans "Log in" %}</button></span>
		</span>
	</p>
</form>
{% endblock %}
