{% extends 'base-one-col.html' %}
{% load i18n %}

{% block col_content %}
<h1>{% trans "Forgotten password" %}</h1>

<p>
    {% trans 'Insert your username and confirm to send email with further instructions.' %}
</p>

<form class="sidebar-login-form" action="{% url 'mfe_users_passwd_reset' %}" method="post">
	{{ form }}
	<p class="submit-row">
		<span class="button button-green">
			<span><button class="green" type="submit">{% trans "SEND EMAIL" %}</button></span>
		</span>
	</p>
</form>
{% endblock %}

