{% extends "users/base.html" %}

{% load i18n %}

{% block left_col_title %}{% trans "Password change" %}{% endblock %}

{% block left_col_content %}

{% blocktrans %}
<p>To change your password, please fill-up information below.</p>
{% endblocktrans %}

<form action="{% url 'mfe_users_change_password' %}" id ='change_password_form' method="post">
	{% csrf_token %}
	{% for field in form %}
	<p>
		<label>{{ field.label }}</label>
		{{ field }}
		{% include "includes/field_errors.html" %}
		{% if field.help_text %}
			<span class="help-text">{{ field.help_text }}</span>
		{% endif %}
	</p>
	{% endfor %}
	<p class="submit-row">
		<span class="button button-green">
			<span><button class="green" type="submit">{% trans "Change password" %}</button></span>
		</span>
	</p>
</form>

{% endblock %}
