{% extends "base-one-col.html" %}

{% load i18n %}

{% block col_content %}
<h1>{% trans "Registration" %}</h1>

{% blocktrans %}
<p>You can create your account on-line. If you are interested to join our
community, please fill up required information below and confirm that you agree with terms of service by checking the checkbox. After you submit the necessary data, our administrator will be notified. As soon as they validate 
your request, you will be sent an e-mail confirming the account activation.</p>
{% endblocktrans %}

{% if registration_successful %}
{% blocktrans %}
<p>
    The registration <strong>was successfull</strong>. Thank you for your 
    interest. You will be sent an e-mail as soon as our administrators 
    validate your registration request.
</p>
{% endblocktrans %}
{% else %}
<form id="registration_form" class="registration" action="{% url mfe_users_registration %}" method="post">
    <table>
        {% for field in form %}
        <tr>
            <td><label>{{ field.label }}</label></td>
            <td>{{ field }}{% include "includes/field_errors.html" %}</td>
            <td>{% if field.help_text %}<span class="help-text">{{ field.help_text }}</span>{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    <p class="submit-row">
        <span class="button button-green">
            <span><button class="green" type="submit">{% trans "Register" %}</button></span>
        </span>
    </p>
</form>
{% endif %}
</div>
<div id="col-bottom"></div>
<hr class="noscreen" />
{% endblock %}
