{% extends "users/base.html" %}

{% load i18n thumbnail %}

{% block extra_css_overload %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/themes/smoothness/jquery-ui-1.8rc3.custom.css" type="text/css" />
{% endblock %}


{% block left_col_title %}{% trans "Tansfer money to your account" %}{% endblock %}

{% block left_col_content %}



{% blocktrans %}
<p>You can create deposit to your account on this page. Just enter money amount into the inputobx. This deposit will be credited inmidietly but it will be invoiced as on of the items in the next 
invoice which will be drawn on your invoice date. Also there are certain limits. You can't create deposit to your account when you have some unpaid invoices. All your invocies must be PAID. There is also limit of how much money you can deposit. Limit is a ammount of your insuarance(it is based on your subsidiary). Your insurance(and maximal ammmount of money which you can have on your account) is .</p>
{% endblocktrans %}

<p>{% trans "Your invoice date" %}: {{ user.invoice_date }}</p>
<form action="{% url mfe.users.views.account_invoices_transfer_money %}" method="post">
	{% include "includes/standard_form.html" %}
	<p class="submit-row">
		<span class="button button-green">
			<span><button class="green" type="submit">{% trans "Create deposit" %}</button></span>
		</span>
	</p>
</form>

{% endblock %}
