@import "variables";

body {
  background-color: @mc-gray-light;
}

h1 {
  color: @mc-gray-darker;
}

.mc-outlet {
  background-color: @mc-gray-lighter;
  padding-bottom: 20px;
  min-height: 100vh;
}

.mc-content {
  margin-top: 15px;
}

.mc-header {
  padding-bottom: 20px;
  border-bottom: 1px solid @mc-gray-light;
}

.mc-header h1 {
  display: inline-block;
  margin-left: 25px;
}

.mc-action-bar {
  display: inline-block;
  float: right;
  margin-top: 30px;
  padding-right: 15px;
}

.mc-action-bar a {
  margin-left: 3px;
}

.col-xs-small {
  padding-left: 5px;
  padding-right: 5px;
}

.mc-modal-image {
  width: 100%;
}


