{% extends "admin/base_site.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Usage history" %}{{ block.super }}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/audit/usagehistory.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/flick/jquery-ui-1.9.2.custom.min.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/rickshaw.min.css"/>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../">Audit</a> &rsaquo;
     {% trans "Usage history" %}
</div>
{% endblock %}

{% block content %}

<div id="app" class="usage-history">

	<div class="unit-select">
		{% if units %}
		<select>
			<option value="">{% trans "(Select car unit)" %}</option>
			{% for unit in units %}
				<option value="{{ unit.unit_id }}">{{ unit }}</option>
			{% endfor %}
		</select>
		{% else %}
			<p>{% trans "No car units found." %} <a href="{% url 'admin:car_unit_api_carunit_add' %}">{% trans "You can add them here" %}.</a></p>
		{% endif %}
	</div>

	<div class="start-cal"><label>{% trans "From" %} <input type="text" /> </label></div>

	<div class="end-cal"><label>{% trans "Till" %} <input type="text" /> </label></div>

	<div class="map"></div>

	<div class="graphs"></div>

</div>

<script src="{{ STATIC_URL }}js/require.js"></script>
<script src="{{ STATIC_URL }}js/require-config.js"></script>
<script>
requirejs.config({config: {
	'audit/usagehistory/views': {
		'rootUrl': "{% url 'admin:usage_history' %}",
		'queryUrl': "{% url 'admin:usage_history_query' %}"
	}}
})
</script>
<script src="{{ STATIC_URL }}js/audit/usagehistory/main.js"></script>
{% endblock content %}

