{% load i18n %}

<h1>{% trans "About carsharing" %}</h1>

{% blocktrans %}
<p>Carsharing is a model of car rental
where people rent cars for short periods of time, often by the hour.
They are attractive to customers who make only occasional use of a
vehicle, as well as others who would like occasional access to a
vehicle of a different type than they use day-to-day. The
organization renting the cars may be a commercial business or the
users may be organized as a democratically-controlled company, public
agency, cooperative, ad hoc grouping. Today there are more than six
hundred cities in the world where people can carshare. (from
wikipedia)</p>
{% endblocktrans %}