{% extends "base.html" %}

{% load i18n thumbnail car_maps %}
{% load url from future %}

{% block extra_css_overload %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cars/carmap.css" />
{% endblock %}

{% block title %}{% trans "Find cars" %} - {{ block.super }}{% endblock %}

{% block content %}

<div id="cols2-top"></div>
<div id="cols2" class="box">

    <!-- Blog -->
    <div id="col-left">
   			<div class="title">
                <h2>{% trans "Find cars" %}</h2>
            </div>

            {% blocktrans %}
            <p>Below you can search for cars in your neighborhood. You can
            get more details by clicking on car sign, which will open car
            details on the right side of the page.</p>
            {% endblocktrans %}
    </div> <!-- /col-left -->

    <hr class="noscreen" />

    <!-- Testimonials -->
    <div id="col-right">
    	{% include "cars/right_col_menu.html" %}
    </div> <!-- /col-right -->
</div> <!-- /cols2 -->
<div id="cols2-bottom"></div>

<hr class="noscreen" />

<div id="app">
    <div class="map-wrapper">
        <div class="map"></div>
    </div>
</div>

<hr class="noscreen" />

<div id="dialog-wrapper" style="display: none;"></div>

<script src="{{ STATIC_URL }}js/require.js"></script>
<script src="{{ STATIC_URL }}js/require-config.js"></script>
<script>
requirejs.config({config: {
    'cars/views': {
        'rootUrl': "{% url 'mfe_cars' %}",
        'dataUrl': "{% url 'mfe_cars_map_data' %}",
        'staticUrl': '{{ STATIC_URL }}'
    }}
})
</script>
<script src="{{ STATIC_URL }}js/cars/carmap.js"></script>
{% endblock %}
