{% extends "cars/base.html" %}

{% load i18n thumbnail maps %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.tooltip.css" type="text/css" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL}}js/jquery.tooltip.pack.js"></script>
{% endblock %}

{% block left_col_title %}{{ object }}{% endblock %}

{% block left_col_content %}

{% if object.image %}
{% thumbnail object.image 200x200 as thumb %}
<img src="{{ thumb }}" class="float-right" width="{{ thumb.width }}" height="{{ thumb.height }}" />
{% endif %}

<ul class="ul-01">
	<li><strong>{% trans "Model" %}:</strong> {{ object.model }}</li>
	<li><strong>{% trans "Year of manufacture" %}:</strong> {{ object.manufacture_date|date:"Y" }}</li>
	<li><strong>{% trans "Registration number" %}:</strong> {{ object.object.registration_number }}</li>
	<li><strong>{% trans "Color" %}:</strong> {{ object.color }}</li>
	<li><strong>{% trans "Owner" %}:</strong> {% if object.owner %}{{ object.owner }}{% else %}---{% endif %}</li>
	<li><strong>{% trans "Only dedicated parking" %}:</strong> {% if object.dedicated_parking_only %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</li>
</ul>

<span class="button button-green">
	<span><a href="{% url 'mfe_reservations_reserve_car' object.id %}" class="green">{% trans "Reserve this car now" %}&nbsp;&raquo;</a></span>
</span>

<hr class="noscreen" />
<div class="clear"></div>

<h3>{% trans "Current location" %}</h3>
<div class="grey-box">
	{% map_for_geometry object.last_position as map %}
	{{ map.media }}
	{{ map }}
</div>

<h3>{% trans "Current pricing" %}</h3>
<div class="grey-box">
	{% include "includes/timeline.html" %}
</div>


{% endblock %}
