{% load i18n thumbnail %}

<div class="car-map-car-detail">
	<h4>
		<span><a href="#" class="j-car-detail-toggler sort-up">{{ object }}</a></span>
	</h4>
	<div class="car-map-car-detail-content">
		{% if object.image %}
		{% thumbnail object.image 100x100 as thumb %}
		<img src="{{ thumb }}" width="{{ thumb.width }}" height="{{ thumb.height }}" class="float-left" />
		{% endif %}
		
		<p><strong>{% trans "1 hour" %} <span class="smaller">({% trans "from" %})</span></strong>: {{ object.model.get_pricelist.get_basic_price_dict.price_per_hour_from|floatformat:"-2" }} Kč</p>
		<p><strong>{% trans "1 km" %}</strong>: {{ object.model.get_pricelist.get_basic_price_dict.price_per_km|floatformat:"-2" }} Kč</p>
		<div class="clear"></div>
		<p><strong>{% trans "Location" %}</strong>: {{ object.last_position_text }}</p>
		<a class="j-show-car-profile" href="#id_{{ object.pk }}">{% trans "show profile" %}&raquo;</a>&nbsp;&nbsp;
		<a href="{% url 'mfe_reservations_reserve_car' object.pk %}">{% trans "fast reservation" %}&raquo;</a>
	</div>
</div>