{% extends "reservations/base.html" %}

{% load i18n %}

{% block left_col_title %}{% trans "Reservation details" %}{% endblock %}

{% block left_col_content %}

<div class="inner-2cols">
<div class="col-left">
<ul class="ul-01">
    <li><strong>{% trans "Car" %}:</strong> {{ reservation.car }}</li>
    <li><strong>{% trans "Reserved from" %}:</strong> {{ reservation.reserved_from|date:"DATETIME_FORMAT" }}</li>
    <li><strong>{% trans "Reserved until" %}:</strong> {{ reservation.reserved_until|date:"DATETIME_FORMAT" }}</li>
</ul>
</div>

</div>

<div class="clear"></div>

<h3>{% trans "Reservation journeys" %}</h3>
{% if journeys %}
	<table>
		<tr>
			<th>{% trans "Start" %}</th>
			<th>{% trans "End" %}</th>
			<th>{% trans "Length" %}</th>
            <th>{% trans "Price" %}</th>
            <th></th>
		</tr>
		{% for journey in journeys %}
		<tr class="{% cycle "even" "odd" %}">
			<td>{{ journey.start_datetime|date:"DATETIME_FORMAT" }}</td>
			<td>{{ journey.end_datetime|date:"DATETIME_FORMAT" }}</td>
			<td>{{ journey.length }} km</td>
            <td>{{ journey.total_price }} Kč</td>
            <td><a onclick="javascript: return confirm('{% trans "Do you really want to delete this journey?" %}');" href="{% url mfe_reservations_delete_journey journey.pk %}">{% trans "Delete" %}</a></td>
		</tr>
		{% endfor %}
	</table>
{% else %}
<p>{% trans "No journey for this reservation yet." %}</p>
{% endif %}

{% if journeys %}
<span class="button button-green">
	<span><a href="{% url mfe_reservations_confirmation reservation.pk %}" class="green" title="{% trans "In the next step you will have an opportunity to check information about your loan and finish that." %}">{% trans "Finish loan" %}</a></span>
</span>
{% else %}
<span class="button button-green">
	<span><a href="{% url mfe_reservations_add_journey reservation.pk %}" class="green">{% trans "Add journey" %}</a></span>
</span>
{% endif %}
{% endblock %}
