{% extends "admin/change_form.html" %}

{% load i18n %}

{% block extrastyle %}
<link href="{{ STATIC_URL }}admin/css/admin.css" media="screen,projection" rel="stylesheet" type="text/css" />
{% endblock %}

{% block after_field_sets %}
{% if not add %}

<fieldset class="module aligned">
  <h2>{% trans "Pricing summary" %}</h2>
  <div class="description">{% trans "Detailed information about journey price" %}.</div>

  <div class="form-row">
	  <div>
	  	<label>{% trans "Price for kms driven" %}:</label>
	  	<strong>{{ pricing.km_price|floatformat:"-2" }} Kč</strong>
	  </div>
  </div>
  <div class="form-row">
	  <div>
	  	<label>{% trans "Price for time elapsed" %}:</label>
	  	<strong>{{ pricing.time_price|floatformat:"-2" }} Kč</strong>
	  </div>
  </div>
  <div class="form-row">
	  <div>
	  	<label>{% trans "Total price" %}:</label>
	  	<strong>{{ pricing.total_price|floatformat:"-2" }} Kč</strong>
	  </div>
  </div>

</fieldset>
{% endif %}

{% endblock %}
